.posicao{
    width: 200px;
    height: 200px;
    background-color: rgb(40, 40, 40);
    /* borda de baixo */
    border-bottom: 3px solid red; 
}
.static{
    border-right: 5px solid cadetblue;
    position: static;
    top: 20px;
}